jOptiEx/bin/dialogs/DialogMinMax$1.class
jOptiEx/bin/dialogs/DialogMinMax$2.class
jOptiEx/bin/dialogs/DialogMinMax$3.class
jOptiEx/bin/dialogs/DialogMinMax$4.class
jOptiEx/bin/dialogs/DialogMinMax$5.class
jOptiEx/bin/dialogs/DialogMinMax.class
jOptiEx/bin/OpenFile.class
jOptiEx/bin/OptiExFrame$1.class
jOptiEx/bin/OptiExFrame$10.class
jOptiEx/bin/OptiExFrame$11.class
jOptiEx/bin/OptiExFrame$2.class
jOptiEx/bin/OptiExFrame$3.class
jOptiEx/bin/OptiExFrame$4.class
jOptiEx/bin/OptiExFrame$5.class
jOptiEx/bin/OptiExFrame$6.class
jOptiEx/bin/OptiExFrame$7.class
jOptiEx/bin/OptiExFrame$8.class
jOptiEx/bin/OptiExFrame$9.class
jOptiEx/bin/OptiExFrame$ListFilesRenderer.class
jOptiEx/bin/OptiExFrame$SetData.class
jOptiEx/bin/OptiExFrame.class
jOptiEx/bin/read/
jOptiEx/bin/storage/
jOptiEx/bin/visualization/
manual/.DS_Store
normal_field/nf
normal_field/pipo
normal_field/pipo_nvf_x
normal_field/pipo_nvf_y
python/__pycache__/
python/pycRCWA.so
src/block_matrix.o
src/commands_other.o
src/commands_propagation.o
src/commands_section.o
src/commands_structure.o
src/finterface.o
src/main.o
src/matrixDev.o
src/matrixdevsym.o
src/optiwave2gnuplot.o
src/parallelize.o
src/parsefile.o
src/parsercl.o
src/section.o
src/slice.o
src/structure.o
src/toeplitz.o
test/multiplepropagation2/test_output.txt
test/multiplepropagation2/test_results_x.txt
test/multiplepropagation2/test_results_y.txt
test/multiplepropagation2/test_results_z.txt
bin/crcwa
bin/o2g
bin/slice
src/parallelize_POSIX.o